.wrapper {
  display: flex;
  width: 1200px;
  min-width: 900px;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  min-width: 250px;
  padding: 20px;
  background: rgba(92, 156, 229, 0.6);
  display: flex;
  flex-direction: column;

}
.main {
  width: 100%;
  min-width: 400px;
  padding: 20px 40px;
  background-color: #e4f1ff;
  position: relative;
  padding-bottom: 90px;
}

canvas{
  width: 800px !important;
  height: 260px !important;
}